<?php require_once _VIEW_PATH . 'common.header.html'; ?>
    <div class="contents">
        <div class="box" style="max-width:1200px; width:calc(100% - 40px); margin:0 auto;">

            <h3>권한그룹 이름 등록/수정<span>
        <button class="btn">팝업닫기</button></span></h3>
            <table class="table_popup">
                <tr>
                    <th width="150" scope="col">권한그룹명</th>
                    <td><input type="text" class="" style="" value=""/></td><!-- 인풋박스로 수정 16.09.22 -->
                </tr>
            </table>

            <div class="pager">
                <button class="btn btn_bottom btn_black">취소</button> <button class="btn btn_bottom btn_red">등록/수정</button>
            </div>
        </div>
    </div>
<?php require_once _VIEW_PATH . 'footer.html'; ?>