<?php require_once _VIEW_PATH . 'common.header.html'; ?>
    <!--상단메뉴-->
    <!--전체메뉴보기//-->
    <div class="nav_all"><a href="javascript:" onclick="jQuery('.menu_all').fadeToggle(500);">전체메뉴보기</a></div>
    <div class="menu_all" onclick="jQuery('.menu_all').fadeOut(200);" >
        <ul>
            <h3>Job</h3>
            <li><a href="sub_01_1.html"><span>Job 리스트</span></a></li>
        </ul>
        <ul>
            <h3>통계</h3>
            <li><a href="sub_02_1.html"><span>일반 통계</span></a></li>
            <li><a href="sub_02_2.html"><span>응용프로그램 통계</span></a></li>
            <li><a href="sub_02_3.html"><span>Job 통계</span></a></li>
        </ul>
        <ul>
            <h3>클라이언트</h3>
            <li><a href="sub_03_1.html"><span>OS 언어별 설정</span></a></li>
            <li><a href="sub_03_2.html"><span>응용프로그램별 설정</span></a></li>
            <li><a href="sub_03_3.html"><span>클라이언트 공통 설정</span></a></li>
        </ul>
        <ul>
            <h3>계정 및 권한</h3>
            <li><a href="sub_04_1.html"><span>관리자 리스트</span></a></li>
            <li><a href="sub_04_2.html"><span>관리자 권한그룹 리스트</span></a></li>
            <li><a href="sub_04_3.html"><span>개발사 리스트</span></a></li>
        </ul>
    </div>

    <!--//상단메뉴-->

    <div class="body_wrap">

        <!--왼쪽메뉴-->
        <div id="leftmenu" class="leftmenu">
            <div class="logo"><strong><a href="sub_01_1.html">Brownie</a></strong></div>
            <ul>
                <li class="active"><a href="#"><i class="icon-folder-open"></i> Job 리스트</a>
                    <ul style="display:block;">
                        <li><a href="sub_01_1.html"><span>Job 리스트</span></a></li>
                    </ul>
                </li>
                <li class="active"><a href="#"><i class="icon-align-left"></i> 통계</a>
                    <ul style="display:none;">
                        <li><a href="sub_02_1.html"><span>일반 통계</span></a></li>
                        <li><a href="sub_02_2.html"><span>응용프로그램 통계</span></a></li>
                        <li><a href="sub_02_3.html"><span>Job 통계</span></a></li>
                    </ul>
                </li>
                <li class="active"><a href="#"><i class="icon-wrench"></i> 클라이언트</a>
                    <ul style="display:none;">
                        <li><a href="sub_03_1.html"><span>OS 언어별 설정</span></a></li>
                        <li><a href="sub_03_2.html"><span>응용프로그램별 설정</span></a></li>
                        <li><a href="sub_03_3.html"><span>클라이언트 공통 설정</span></a></li>
                    </ul>
                </li>
                <li class="active"><a href="#"><i class="icon-cog"></i> 기타</a>
                    <ul style="display:none;">
                        <li><a href="sub_04_1.html"><span>관리자 리스트</span></a></li>
                        <li><a href="sub_04_2.html"><span>관리자 권한그룹 리스트</span></a></li>
                        <li><a href="sub_04_3.html"><span>개발사 리스트</span></a></li>
                    </ul>
                </li>
            </ul>
        </div>

        <!--컨텐츠내용-->
        <div class="contents">